[common]
127.0.0.1

[ufw]
127.0.0.1

[docker]
127.0.0.1

[golang]
127.0.0.1 golang_version="1.21.7"

[samba]
127.0.0.1 samba_networks='["192.168.1.0","10.0.0.0"]'

[vscode]
127.0.0.1

[virtualbox]
127.0.0.1

[php8.2]
127.0.0.1

[sound-pipewire]
127.0.0.1 reaper_version="643"

[soundrecord-reaper]
127.0.0.1 reaper_version="643"

[soundrecord-vst]
127.0.0.1 yabridge_version="5.1.0"

[soundrecord-realtime]
127.0.0.1

[yandex-disk]
127.0.0.1
