[Desktop Entry]
Name=FlameshotLauncher
Exec=script --command "flameshot gui" /dev/null
Terminal=false
Icon=/usr/share/icons/hicolor/128x128/apps/flameshot.png
Type=Application
Comment=Stub for launch Flameshot. Details https://flameshot.org/docs/guide/wayland-help/
